@media (min-width: 500px) {
    .body {
        //background-color: rgba(255, 0, 0, 0.2);

        .home {
            //background-color: yellow;
            .sectionA {
                width: 7%;

                opacity: 0.1;
                .cintaA {
                    transform: scaleX(-1);
                }
                .cintaC {
                    //transform: scaleX(-1);
                }
            }
            .sectionB {
                padding-top: 10%;
                header {
                    padding-top: 15%;
                    nav {
                        width: 80%;
                        margin: auto;
                        a {
                            font-size: 1rem;
                            width: 23%;
                            font-weight: normal;
                        }
                        .containerimagotipo {
                            .imagotipo {
                                width: 80%;
                            }
                        }
                    }
                }
                .mainInformation {
                    .mainIcon {
                        width: 15%;
                    }
                    .infoLogo {
                        padding-top: 15%;
                        h1 {
                            font-size: 3rem;
                            letter-spacing: 0em;
                        }
                        .logotipo {
                            width: 90%;
                        }
                        p {
                            font-size: 1em;
                        }
                    }
                    .botonGroup {
                        padding-top: 5%;
                        .btnContainer {
                            margin-top: 15%;
                            width: 60%;
                        }
                        .contactoIcon {
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            padding-top: 5%;

                            .icon {
                                width: 40%;
                                opacity: 0.5;
                            }
                        }
                    }
                }
            }
        }
        .gallery {
            margin-top: 5%;
            background-color: red;
        }
        .nosotros {
            padding: 8%;

            .descripcion {
                .logo {
                    width: 80%;
                }
                p {
                    font-size: 1em;
                }
            }

            .btnContainer {
                width: 60%;
                .CTAbtn {
                    font-size: 1.5em;
                }
            }
            .nosotros {
                font-family: var(--font-Quicksand);
                padding: 10%;
                .isotipo {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .logo {
                        opacity: 0.1;
                        width: 20%;
                    }
                }
                .descripcion {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                    .logo {
                        padding-top: 5%;
                        width: 100%;
                    }
                    p {
                        padding-top: 5%;
                        font-size: 0.8em;
                        letter-spacing: 0.05em;
                        text-align: justify;
                        width: 90%;
                    }
                }

                .btnContainer {
                    border: 0.1rem solid var(--color10);
                    width: 80%;
                    padding: 1.5%;
                    border-radius: 0.2em;
                    opacity: 0.8;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 5%;
                    font-family: var(--font-Castoro);
                    .CTAbtn {
                        font-size: 1.1em;
                        letter-spacing: 0.05rem;
                        border: none;
                        border-radius: inherit;
                        background-color: var(--color10);
                        width: 100%;
                        padding-top: 4%;
                        padding-bottom: 2%;
                        color: var(--colorWhite);
                        //font-weight: bold;
                    }
                    .CTAbtn:hover {
                        background-color: var(--color60);
                    }
                }

                .btnContainer:hover {
                    opacity: 1;
                    border: 0.1rem solid var(--color60);
                }
                .contactoIcon {
                    width: 50%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding-top: 5%;
                    .icon {
                        width: 15%;
                        opacity: 0.5;
                    }
                    .icon:hover {
                        opacity: 1;
                        scale: 1.2;
                    }
                }
            }
        }
        .servicios {
            .iconGroup {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                flex-wrap: wrap;

                .iconService {
                    padding: 5%;
                    width: 25%;
                    opacity: 0.5;
                }
                .icon:hover {
                    opacity: 1;
                }
            }
            .descripcionGeneral {
                padding-bottom: 5%;
                padding-top: 5%;

                h2 {
                    font-size: 2.5rem;
                    padding-top: 5%;
                }
                p {
                    font-size: 1.1em;
                }

                .botonGroup {
                    .btnContainer {
                        width: 60%;
                        .CTAbtn {
                            font-size: 1.2em;
                        }
                    }
                }
            }
            .habitaciones {
                .title {
                    .titleIcon {
                        width: 10%;
                    }
                    .titleIconE {
                        width: 15%;
                    }
                }

                .descripcion {
                    padding: 5%;
                    h3 {
                        font-size: 2rem;
                    }

                    p {
                        padding: 3%;
                        font-size: 1em;
                    }
                    .btnContainer {
                        width: 50%;
                        margin-top: 2%;
                        .CTAbtn {
                            font-size: 1em;
                            letter-spacing: 0.1rem;
                        }
                    }
                }
            }
        }
        .alojamientos {
            padding-top: 8%;
            padding-bottom: 3%;
            h3 {
                font-size: 2.5em;
            }
            p {
                font-size: 1.4em;
                margin-top: -3%;
                letter-spacing: 0.05em;
            }
            .itemGroup {
                padding: 0%;
                .item {
                    margin-top: 5%;
                    .icon {
                        width: 80%;
                    }

                    p {
                        font-size: 0.8em;
                        padding-top: 3%;
                        letter-spacing: 0em;
                    }
                }
            }
        }
        .contacto {
            width: 90%;
            .colA {
                .botonBanner {
                    .logotipo {
                        width: 90%;
                    }
                    h4 {
                        font-size: 1.8rem;
                        letter-spacing: 0.1rem;
                    }
                    p {
                        font-size: 1.2em;
                        margin: 0%;
                    }
                }
            }
            .colB {
                padding: 5%;
                width: 80%;
                margin: auto;
                form {
                    background-color: var(--colorWhite);
                    padding: 5%;
                }
                .btnContainer {
                    margin-top: 5%;
                    width: 70%;
                    .CTAbtn {
                        font-size: 1.2em;
                    }
                }
            }
        }
        footer {
            nav {
                width: 80%;
                a {
                    font-size: 1rem;
                    width: 23%;
                }
            }
            p {
                font-size: 0.8em;
            }
            .contactoIcon {
                width: 70%;
                .icon {
                    width: 8%;
                }
            }
        }
    }
}

/* Estilos para dispositivos medianos (MD) */
@media (min-width: 768px) {
    /* Estilos específicos para dispositivos medianos */
    .body {
        .mobile {
            display: none;
            margin: auto;
        }
        .desktop {
            display: block;
            margin: auto;
        }
        .home {
            // height: 100vh;
            display: flex;
            justify-content: center;
            align-items: stretch;
            font-family: var(--font-Castoro);
            padding: 0%;
            .sectionA {
                width: 5%;

                opacity: 0.1;
                .cintaA {
                    transform: scaleX(-1);
                }
                .cintaC {
                    //transform: scaleX(-1);
                }
            }

            .sectionB {
                padding: 1%;
                header {
                    padding-top: 1%;
                    width: 80%;
                    margin: auto;
                    nav {
                        padding-top: 5%;
                        a {
                            font-size: 1.2rem;
                            width: 23%;
                            font-weight: none;
                        }
                        .left {
                            text-align: right;
                        }
                        .containerimagotipo {
                            width: 8%;
                            .imagotipo {
                                width: 80%;
                                opacity: 0.5;
                            }
                        }
                    }
                }
                .mainInformation {
                    .mainIcon {
                        width: 20%;
                        padding-top: 15%;
                        opacity: 0.5;
                    }
                    .infoLogo {
                        padding-top: 5%;
                        h1 {
                            font-size: 3.5em;
                            letter-spacing: 0.01em;
                        }
                        .logotipo {
                            width: 70%;
                            padding-top: 1%;
                        }
                        p {
                            padding-top: 0%;
                            font-size: 1em;
                            letter-spacing: 0.05em;
                        }
                    }
                    .botonGroup {
                        //background-color: red;
                        padding-top: 0%;
                        .btnContainer {
                            border: 0.1rem solid var(--color10);
                            width: 40%;
                            padding: 0.5%;
                            border-radius: 0.3em;
                            margin-top: 10%;
                            .CTAbtn {
                                font-size: 1.5em;
                                letter-spacing: 0.05rem;
                                font-weight: 500;
                            }
                        }

                        .contactoIcon {
                            width: 60%;
                            padding-top: 5%;
                            .link {
                                .icon {
                                    width: 40%;
                                }
                            }
                        }
                    }
                }
            }
        }
        .gallery {
            background-color: var(--color10);
            height: 400px;
            //padding-top: 15%;
            margin-top: 10%;
            border: #0756a1 solid 1px;
            border-radius: 1rem;
            color: #f1f2f2;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .nosotros {
            font-family: var(--font-Quicksand);
            padding: 10%;
            .isotipo {
                .logo {
                    opacity: 0.1;
                    width: 20%;
                }
            }
            .descripcion {
                .logo {
                    padding-top: 5%;
                    width: 80%;
                }
                p {
                    font-size: 1em;
                    width: 80%;
                }
            }

            .btnContainer {
                border: 0.1rem solid var(--color10);
                width: 40%;
                padding: 0.8%;
                opacity: 0.8;
                display: flex;

                .CTAbtn {
                    font-size: 1.3em;
                    letter-spacing: 0.05rem;
                }
            }
        }
        .servicios {
            background-color: rgba(218, 149, 40, 0.05);
            width: 100%;
            padding-bottom: 10%;
            border-radius: 0.5rem;
            box-shadow: 0px 10px 1em rgba(0, 0, 0, 0.2);
            .mobile {
                display: none;
                background-color: red;
            }
            .desktop {
                display: flex;
            }
            .iconGroup {
                padding-top: 3%;
                .iconService {
                    padding: 2%;
                    width: 12%;
                    opacity: 0.5;
                }
            }
            .descripcionGeneral {
                background-color: transparent;
                border-radius: 0.5rem;                
                
               margin-top: 5%;
                box-shadow: 0px 0px 0px;
                h2 {
                    font-size: 2.8rem;
                    padding-top: 5%;
                }
                p {
                    padding: 5%;
                    padding-top: 2%;
                    width: 90%;
                    font-size: 1.1em;
                    margin: auto;
                }

                .botonGroup {
                    .banner {
                        width: 30%;
                        opacity: 0.3;
                        margin-top: -0.3%;
                        display: block;
                    }
                    .b2 {
                        transform: scaleX(-1);
                    }
                    .btnContainer {
                        padding: 0.55%;
                        .CTAbtn {
                            font-size: 1.1em;
                            letter-spacing: 0.05rem;
                            padding-top: 2%;
                            padding-bottom: 1%;
                            color: var(--colorWhite);
                        }
                    }
                }
            }

            .habitaciones {
                background-color: transparent;
                margin-top: 2%;
                width: 100%;

                .title {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    justify-content: space-around;

                    .titleIcon {
                        width: 0%;
                    }
                    .titleIconE {
                        width: 0%;
                    }
                }
                .descripcion {
                    padding: 2%;
                    display: flex;
                    flex-direction: column;
                    justify-content: stretch;

                    h3 {
                        font-size: 1.5rem;
                    }

                    p {
                        padding: 5%;
                        border: none;
                        width: 90%;
                        margin: auto;
                        font-size: 0.8em;
                        text-align: center;
                    }
                    .btnContainer {
                        border: 0.1rem solid var(--color10);
                        width: 60%;
                        padding: 1.5%;
                        margin-top: 5%;
                        .CTAbtn {
                            font-size: 0.8em;
                            letter-spacing: 0.05rem;
                            border: none;
                            background-color: var(--color10);
                            width: 100%;
                            padding-top: 3%;
                            padding-bottom: 1%;
                        }
                    }

                    .btnContainer:hover {
                        opacity: 1;
                        border: 0.1rem solid var(--color10);
                    }
                }
                .barras {
                    border: none;
                    border-right: var(--color10) solid 0.1rem;
                    border-left: var(--color10) solid 0.1rem;
                    background-color: transparent;
                }
            }
        }
        .alojamientos {
            padding-top: 5%;
            padding-bottom: 5%;
            border-radius: 0.5em;
            margin-top: 10%;
            width: 90%;
            box-shadow: 0px 10px 1em rgba(0, 0, 0, 0.2);
            h3 {
                font-size: 3em;
            }
            p {
                font-size: 1.5em;
                margin-top: -2%;
                letter-spacing: 0.1rem;
            }
            .itemGroup {
                .item {
                    margin-top: 5%;
                    .icon {
                        width: 80%;
                    }
                }
            }
        }
        .contacto {
            padding: 1%;
            padding-top: 2%;
            padding-bottom: 1%;
            color: var(--color60);
            margin-top: 10%;
            .colA {
                padding: 0%;
                display: block;
                //background-color: red;

                .botonBanner {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;

                    h4 {
                        font-family: var(--font-Castoro);
                        color: var(--color60);
                        font-size: 1.5rem;
                        font-weight: bold;
                        letter-spacing: 0rem;
                        margin-top: 0%;
                    }
                    p {
                        padding: 4%;
                        //text-align: justify;
                        letter-spacing: 0.05em;
                        font-size: 0.8rem;
                        text-align: unset;
                        //word-spacing: 0.5em;
                        text-align: center;
                        margin-top: 2%;
                    }
                    .contactoIcon {
                        display: flex;
                        justify-content: space-between;
                        margin: auto;
                        align-items: center;
                        padding: 0%;
                        margin-top: 2%;
                        .link {
                            display: flex;
                            justify-content: center;
                            .icon {
                                width: 60%;
                                opacity: 0.5;
                            }
                            .icon:hover {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
            .colB {
                padding: 0%;
                width: 50%;
                display: block;
                font-size: 0.9em;
                form {
                    background-color: var(--colorWhite);
                    padding: 5%;
                    padding-top: 7%;
                    padding-bottom: 7%;
                    border-radius: 1rem;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                }

                label {
                    display: block;
                    margin-bottom: 1%;
                }

                input,
                select,
                textarea {
                    //width: 100%;
                    padding: 1%;
                    margin-bottom: 2%;
                    border: none;
                    border-radius: 0.1rem;
                    box-sizing: border-box;
                    color: var(--color60);
                }

                textarea {
                    resize: vertical;
                }

                .btnContainer {
                    width: 60%;
                    padding: 1.5%;
                    border-radius: 0.2em;
                    margin-top: 8%;
                    .CTAbtn {
                        font-size: 1.2em;
                        letter-spacing: 0.05rem;
                        width: 100%;
                        padding-top: 3%;
                        padding-bottom: 1%;
                        color: var(--colorWhite);
                    }
                }
            }
        }
        footer {
            margin-top: 10%;
            nav {
                width: 70%;
                a {
                    font-size: 1rem;
                    width: 23%;
                }
            }
            p {
                font-size: 0.8em;
            }
            .contactoIcon {
                display: flex;
                justify-content: space-between;
                margin: auto;
                align-items: center;
                padding: 0%;
                margin-top: 2%;
                width: 50%;
                .link {
                    display: flex;
                    justify-content: center;
                    .icon {
                        width: 30%;
                        opacity: 0.5;
                    }
                    .icon:hover {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

/* Estilos para dispositivos grandes (LG y XL) */
@media (min-width: 992px) {
    /* Estilos específicos para dispositivos grandes */
    .body {
        .mobile {
            display: none;
        }
        .desktop {
            display: block;
        }
        .home {
            // height: 100vh;
            display: flex;
            justify-content: center;
            align-items: stretch;
            font-family: var(--font-Castoro);
            padding: 0%;
            .sectionA {
                width: 5%;

                opacity: 0.1;
                .cintaA {
                    transform: scaleX(-1);
                }
                .cintaC {
                    //transform: scaleX(-1);
                }
            }

            .sectionB {
                padding: 1%;
                header {
                    padding-top: 1%;
                    width: 80%;
                    margin: auto;
                    nav {
                        padding-top: 2%;
                        a {
                            font-size: 1.3rem;
                            width: 23%;
                            font-weight: none;
                        }
                        .left {
                            text-align: right;
                        }
                        .containerimagotipo {
                            width: 8%;
                            .imagotipo {
                                width: 80%;
                                opacity: 0.5;
                            }
                        }
                    }
                }
                .mainInformation {
                    .mainIcon {
                        width: 15%;
                        padding-top: 15%;
                        opacity: 0.5;
                    }
                    .infoLogo {
                        padding-top: 5%;
                        h1 {
                            font-size: 4em;
                            letter-spacing: 0.01em;
                        }
                        .logotipo {
                            width: 60%;
                            padding-top: 1%;
                        }
                        p {
                            padding-top: 0%;
                            font-size: 1.2em;
                            letter-spacing: 0.05em;
                        }
                    }
                    .botonGroup {
                        //background-color: red;
                        padding-top: 0%;
                        .btnContainer {
                            border: 0.1rem solid var(--color10);
                            width: 40%;
                            padding: 0.5%;
                            border-radius: 0.3em;
                            margin-top: 5%;
                            .CTAbtn {
                                font-size: 1.5em;
                                letter-spacing: 0.05rem;
                                font-weight: 500;
                            }
                        }

                        .contactoIcon {
                            width: 60%;
                            padding-top: 5%;
                            .link {
                                .icon {
                                    width: 40%;
                                }
                            }
                        }
                    }
                }
            }
        }
        .gallery {
            background-color: var(--color10);
            height: 400px;
            //padding-top: 15%;
            margin-top: 10%;
            border: #0756a1 solid 1px;
            border-radius: 1rem;
            color: #f1f2f2;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .nosotros {
            font-family: var(--font-Quicksand);
            padding: 10%;
            .isotipo {
                .logo {
                    opacity: 0.1;
                    width: 15%;
                }
            }
            .descripcion {
                .logo {
                    padding-top: 5%;
                    width: 80%;
                }
                p {
                    padding-top: 5%;
                    font-size: 1.2em;
                    width: 80%;
                    letter-spacing: 0em;
                }
            }

            .btnContainer {
                border: 0.1rem solid var(--color10);
                width: 30%;
                padding: 0.8%;
                opacity: 0.8;
                display: flex;
                margin-top: 3%;
                .CTAbtn {
                    font-size: 1.4em;
                    letter-spacing: 0.05rem;
                }
            }
        }
        .servicios {
            background-color: rgba(218, 149, 40, 0.05);
            width: 100%;
            padding-bottom: 8%;
            border-radius: 0.5rem;
            box-shadow: 0px 10px 1em rgba(0, 0, 0, 0.2);
            .iconGroup {
                padding-top: 2%;
                .iconService {
                    padding: 2%;
                    width: 10%;
                    opacity: 0.5;
                }
            }
            .descripcionGeneral {
                background-color: transparent;
                border-radius: 0.5rem;
                padding-bottom: 1%;
                padding-top: 6%;
                margin-top: 5%;

                h2 {
                    font-size: 3em;
                    padding-top: 0%;
                }
                p {
                    padding: 0%;
                    padding-top: 1%;
                    width: 70%;
                    font-size: 1.2em;
                    margin: auto;
                    letter-spacing: 0em;
                }

                .botonGroup {
                    margin-top: 3%;
                    .banner {
                        width: 30%;
                        opacity: 0.3;
                        margin-top: -0.3%;
                        display: block;
                    }
                    .b2 {
                        transform: scaleX(-1);
                    }
                    .btnContainer {
                        padding: 0.55%;
                        width: 30%;
                        .CTAbtn {
                            font-size: 1.2em;
                            letter-spacing: 0.05rem;
                            padding-top: 3%;
                            padding-bottom: 1%;
                            color: var(--colorWhite);
                        }
                    }
                }
            }

            .habitaciones {
                background-color: transparent;
                margin-top: 2%;
                width: 100%;

                .title {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    justify-content: space-around;

                    .titleIcon {
                        width: 0%;
                    }
                    .titleIconE {
                        width: 0%;
                    }
                }
                .descripcion {
                    padding: 2%;
                    display: flex;
                    flex-direction: column;
                    justify-content: stretch;

                    h3 {
                        font-size: 2rem;
                    }

                    p {
                        padding: 5%;
                        border: none;
                        width: 90%;
                        margin: auto;
                        font-size: 1em;
                        text-align: center;
                    }
                    .btnContainer {
                        border: 0.1rem solid var(--color10);
                        width: 60%;
                        padding: 1.5%;
                        margin-top: 5%;
                        .CTAbtn {
                            font-size: 1.2em;
                            letter-spacing: 0.05rem;
                            border: none;
                            background-color: var(--color10);
                            width: 100%;
                            padding-top: 5%;
                            padding-bottom: 1%;
                        }
                    }

                    .btnContainer:hover {
                        opacity: 1;
                        border: 0.1rem solid var(--color10);
                    }
                }
                .barras {
                    border: none;
                    border-right: var(--color10) solid 0.1rem;
                    border-left: var(--color10) solid 0.1rem;
                    background-color: transparent;
                }
            }
        }
        .alojamientos {
            padding-top: 5%;
            padding-bottom: 5%;
            border-radius: 0.5em;
            margin-top: 10%;
            width: 90%;
            box-shadow: 0px 10px 1em rgba(0, 0, 0, 0.2);
            h3 {
                font-size: 4em;
            }
            p {
                font-size: 2em;
                margin-top: -2%;
                letter-spacing: 0.1rem;
            }
            .itemGroup {
                .item {
                    margin-top: 2%;
                    .icon {
                        width: 90%;
                    }
                    .linkAlojamiento {
                        p {
                            font-size: 1em;
                        }
                    }
                }
            }
        }
        .contacto {
            padding: 1%;
            padding-top: 2%;
            padding-bottom: 1%;
            color: var(--color60);
            margin-top: 10%;
            .colA {
                padding-top: 1%;
                display: block;
                //background-color: red;

                .botonBanner {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;

                    h4 {
                        font-family: var(--font-Castoro);
                        color: var(--color60);
                        font-size: 1.5rem;
                        font-weight: bold;
                        letter-spacing: 0rem;
                        margin-top: 0%;
                    }
                    p {
                        padding: 4%;
                        //text-align: justify;
                        letter-spacing: 0.05em;
                        font-size: 1em;
                        //word-spacing: 0.5em;
                        text-align: justify;
                        margin-top: 3%;
                    }
                    .contactoIcon {
                        display: flex;
                        justify-content: space-between;
                        margin: auto;
                        align-items: center;
                        padding: 0%;
                        margin-top: 3%;
                        .link {
                            display: flex;
                            justify-content: center;
                            .icon {
                                width: 60%;
                                opacity: 0.5;
                            }
                            .icon:hover {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
            .colB {
                padding: 0%;
                width: 50%;
                display: block;
                font-size: 1em;
                form {
                    background-color: var(--colorWhite);
                    padding: 5%;
                    padding-top: 7%;
                    padding-bottom: 7%;
                    border-radius: 1rem;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                }

                label {
                    display: block;
                    margin-bottom: 1%;
                }

                input,
                select,
                textarea {
                    //width: 100%;
                    padding: 1%;
                    margin-bottom: 2%;
                    border: none;
                    border-radius: 0.1rem;
                    box-sizing: border-box;
                    color: var(--color60);
                }

                textarea {
                    resize: vertical;
                }

                .btnContainer {
                    width: 50%;
                    padding: 1.5%;
                    border-radius: 0.2em;
                    margin-top: 8%;
                    .CTAbtn {
                        font-size: 1.2em;
                        letter-spacing: 0.05rem;
                        width: 100%;
                        padding-top: 3%;
                        padding-bottom: 1%;
                        color: var(--colorWhite);
                    }
                }
            }
        }
        footer {
            margin-top: 10%;
            nav {
                width: 50%;
                a {
                    font-size: 1rem;
                    width: 23%;
                }
            }
            p {
                margin: 2%;
                padding-top: 0%;
                font-size: 1em;
            }
            .cometa {
                font-size: 1em;
                margin-top: 2%;
            }
            .contactoIcon {
                display: flex;
                justify-content: space-between;
                margin: auto;
                align-items: center;
                padding: 0%;
                margin-top: 0%;
                width: 40%;
                .link {
                    display: flex;
                    justify-content: center;
                    .icon {
                        width: 30%;
                        opacity: 0.5;
                    }
                    .icon:hover {
                        opacity: 1;
                    }
                }
            }
        }
    }
}
/* Estilos para dispositivos grandes (LG y XL) */
@media (min-width: 1200px) {
    /* Estilos específicos para dispositivos grandes */
    .body {
        .mobile {
            display: none;
        }
        .desktop {
            display: block;
        }
        .home {
            // height: 100vh;

            padding: 0%;
            .sectionA {
                width: 3%;

                opacity: 0.1;
                .cintaA {
                    transform: scaleX(-1);
                }
                .cintaC {
                    //transform: scaleX(-1);
                }
            }

            .sectionB {
                padding: 1%;
                header {
                    padding-top: 1%;
                    width: 60%;
                    margin: auto;
                    nav {
                        padding-top: 0%;
                        a {
                            font-size: 1.3rem;
                            width: 23%;
                            font-weight: none;
                        }
                        .left {
                            text-align: right;
                        }
                        .containerimagotipo {
                            width: 8%;
                            .imagotipo {
                                width: 50%;
                                opacity: 0.5;
                            }
                        }
                    }
                }
                .mainInformation {
                    .mainIcon {
                        width: 10%;
                        padding-top: 5%;
                        opacity: 0.5;
                    }
                    .infoLogo {
                        padding-top: 5%;
                        h1 {
                            font-size: 4em;
                            letter-spacing: 0.05em;
                        }
                        .logotipo {
                            width: 50%;
                            padding-top: 2%;
                        }
                        p {
                            padding-top: 0%;
                            font-size: 1.3em;
                            letter-spacing: 0.05em;
                        }
                    }
                    .botonGroup {
                        //background-color: red;
                        padding-top: 0%;
                        .btnContainer {
                            border: 0.1rem solid var(--color10);
                            width: 25%;
                            padding: 0.5%;
                            border-radius: 0.3em;
                            margin-top: 2%;
                            .CTAbtn {
                                font-size: 2em;
                                letter-spacing: 0.05rem;
                                font-weight: 500;
                            }
                        }

                        .contactoIcon {
                            width: 40%;
                            padding-top: 4%;
                            .link {
                                .icon {
                                    width: 50%;
                                }
                            }
                        }
                    }
                }
            }
        }
        .gallery {
            background-color: var(--color10);
            height: 400px;
            //padding-top: 15%;
            margin-top: 10%;
            border: #0756a1 solid 1px;
            border-radius: 1rem;
            color: #f1f2f2;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .nosotros {
            font-family: var(--font-Quicksand);
            padding: 10%;
            .isotipo {
                .logo {
                    opacity: 0.1;
                    width: 10%;
                }
            }
            .descripcion {
                .logo {
                    padding-top: 3%;
                    width: 60%;
                }
                p {
                    padding-top: 3%;
                    font-size: 1.2em;
                    width: 60%;
                    letter-spacing: 0em;
                }
            }

            .btnContainer {
                border: 0.1rem solid var(--color10);
                width: 28%;
                padding: 0.4%;
                opacity: 0.8;
                display: flex;
                margin-top: 3%;
                .CTAbtn {
                    font-size: 1.6em;
                    letter-spacing: 0.05rem;
                }
            }
        }
        .servicios {
            background-color: rgba(218, 149, 40, 0.05);
            width: 80%;

            padding-bottom: 4%;
            border-radius: 0.5rem;
            box-shadow: 0px 10px 1em rgba(0, 0, 0, 0.2);
            .iconGroup {
                padding-top: 2%;
                width: 90%;
                .iconService {
                    padding: 2%;
                    width: 8%;
                    opacity: 0.5;
                }
            }
            .descripcionGeneral {
                background-color: transparent;
                border-radius: 0.5rem;
                padding-bottom: 1%;
                padding-top: 6%;
                margin-top: 5%;

                h2 {
                    font-size: 3em;
                }
                p {
                    padding: 0%;
                    padding-top: 1%;
                    width: 70%;
                    font-size: 1.2em;
                    margin: auto;
                    letter-spacing: 0em;
                }

                .botonGroup {
                    margin-top: 3%;
                    .banner {
                        width: 30%;
                        opacity: 0.3;
                        margin-top: -0.3%;
                        display: block;
                    }
                    .b2 {
                        transform: scaleX(-1);
                    }
                    .btnContainer {
                        padding: 0.55%;
                        width: 30%;
                        .CTAbtn {
                            font-size: 1.2em;
                            letter-spacing: 0.05rem;
                            padding-top: 3%;
                            padding-bottom: 1%;
                            color: var(--colorWhite);
                        }
                    }
                }
            }

            .habitaciones {
                background-color: transparent;
                margin-top: 1%;
                width: 100%;

                .title {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    justify-content: space-around;

                    .titleIcon {
                        width: 0%;
                    }
                    .titleIconE {
                        width: 0%;
                    }
                }
                .descripcion {
                    padding: 2%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    h3 {
                        font-size: 2rem;
                        margin: 0%;
                    }

                    p {
                        padding: 5%;

                        border: none;
                        width: 100%;
                        margin: auto;
                        font-size: 0.9em;
                        text-align: center;
                    }
                    .btnContainer {
                        border: 0.1rem solid var(--color10);
                        width: 60%;
                        padding: 1.5%;
                        margin-top: 5%;
                        .CTAbtn {
                            font-size: 1.2em;
                            letter-spacing: 0.05rem;
                            border: none;
                            background-color: var(--color10);
                            width: 100%;
                            padding-top: 5%;
                            padding-bottom: 1%;
                        }
                    }

                    .btnContainer:hover {
                        opacity: 1;
                        border: 0.1rem solid var(--color10);
                    }
                }
                .barras {
                    border: none;
                    border-right: var(--color10) solid 0.1rem;
                    border-left: var(--color10) solid 0.1rem;
                    background-color: transparent;
                }
            }
        }
        .alojamientos {
            padding-top: 5%;
            padding-bottom: 5%;
            border-radius: 0.5em;
            margin-top: 15%;
            width: 90%;
            box-shadow: 0px 10px 1em rgba(0, 0, 0, 0.2);
            h3 {
                font-size: 4em;
            }
            p {
                font-size: 2em;
                margin-top: -2%;
                letter-spacing: 0.1rem;
            }
            .itemGroup {
                .item {
                    margin-top: 2%;
                    .icon {
                        width: 90%;
                    }
                    .linkAlojamiento {
                        p {
                            font-size: 1em;
                        }
                    }
                }
            }
        }
        .contacto {
            padding: 1%;
            padding-top: 2%;
            padding-bottom: 1%;
            color: var(--color60);
            margin-top: 10%;
            .colA {
                padding-top: 0%;
                display: block;
                //background-color: red;

                .botonBanner {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;

                    h4 {
                        font-family: var(--font-Castoro);
                        color: var(--color60);
                        font-size: 2.2rem;
                        font-weight: bold;
                        letter-spacing: 0.1rem;
                        margin-top: 0%;
                        text-align: center;
                    }
                    p {
                        padding: 3%;
                        //text-align: justify;
                        letter-spacing: 0em;
                        font-size: 1.2em;
                        //word-spacing: 0.5em;
                        text-align: justify;
                        margin-top: 3%;
                        width: 90%;
                    }
                    .contactoIcon {
                        display: flex;
                        justify-content: space-between;
                        margin: auto;
                        align-items: center;
                        padding: 0%;
                        margin-top: 5%;
                        .link {
                            display: flex;
                            justify-content: center;
                            .icon {
                                width: 40%;
                                opacity: 0.5;
                            }
                            .icon:hover {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
            .colB {
                padding: 0%;
                width: 40%;
                display: block;
                font-size: 1em;
                height: 10%;
                form {
                    background-color: var(--colorWhite);
                    padding: 5%;
                    padding-top: 7%;
                    padding-bottom: 7%;
                    border-radius: 1rem;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                    height: 0%;
                }

                label {
                    display: block;
                    margin-bottom: 1%;
                }

                input,
                select,
                textarea {
                    //width: 100%;
                    padding: 1%;
                    margin-bottom: 2%;
                    border: none;
                    border-radius: 0.1rem;
                    box-sizing: border-box;
                    color: var(--color60);
                }

                textarea {
                    resize: vertical;
                }

                .btnContainer {
                    width: 50%;
                    padding: 1.5%;
                    border-radius: 0.2em;
                    margin-top: 8%;
                    .CTAbtn {
                        font-size: 1.2em;
                        letter-spacing: 0.05rem;
                        width: 100%;
                        padding-top: 3%;
                        padding-bottom: 1%;
                        color: var(--colorWhite);
                    }
                }
            }
        }
        footer {
            margin-top: 10%;
            nav {
                width: 50%;
                a {
                    font-size: 1.2rem;
                    width: 23%;
                }
            }
            p {
                margin: 2%;
                padding-top: 0%;
                font-size: 1.2em;
            }
            .cometa {
                font-size: 1em;
                margin-top: 2%;
            }
            .contactoIcon {
                display: flex;
                justify-content: space-between;
                margin: auto;
                align-items: center;
                padding: 0%;
                margin-top: 0%;
                width: 40%;
                .link {
                    display: flex;
                    justify-content: center;
                    .icon {
                        width: 30%;
                        opacity: 0.5;
                    }
                    .icon:hover {
                        opacity: 1;
                    }
                }
            }
        }
    }
}
/* Estilos para dispositivos grandes (LG y XL) */
