@charset "UTF-8";
/* Estilos CSS aquí */
* {
  margin: 0;
  padding: 0;
}

:root {
  --color10: #da9528;
  --color60: #0756a1;
  --colorBlack: #2a2e32;
  --colorWhite: #f1f2f2;
  --font-Castoro: "Castoro Titling", serif;
  --font-Quicksand: "Quicksand", sans-serif;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}

.body {
  background-color: var(--colorWhite);
  background-color: red;
  padding-left: 2%;
  padding-right: 2%;
}

.body .home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-family: var(--font-Castoro);
}

.body .home .sectionA {
  width: 5%;
}

.body .home .sectionA .cinta {
  opacity: 0.2;
  margin-top: -20%;
}

.body .home .sectionB {
  width: 90%;
  padding-top: 2%;
}

.body .home .sectionB header {
  width: 50%;
  margin: auto;
}

.body .home .sectionB header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body .home .sectionB header nav a {
  font-family: var(--font-Quicksand);
  color: var(--color10);
  text-decoration: none;
  font-size: 1.2rem;
}

.body .home .sectionB header .imagotipo {
  width: 8%;
}

.body .home .sectionB .mainInformation .mainInformationA {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10%;
}

.body .home .sectionB .mainInformation .mainInformationA h1 {
  font-size: 5rem;
  color: var(--color10);
  font-weight: bold;
  letter-spacing: 0.5rem;
}

.body .home .sectionB .mainInformation .mainInformationA p {
  font-size: 0.9rem;
  color: var(--colorBlack);
}

.body .home .sectionB .mainInformation .mainInformationA .logotipo {
  margin: auto;
  width: 50%;
  margin-top: -2%;
}

.body .home .sectionB .mainInformation .botonGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body .home .sectionB .mainInformation .botonGroup .btnContainer {
  border: 0.1rem solid var(--color10);
  width: 25%;
  padding: 0.5%;
  border-radius: 0.5rem;
  opacity: 0.8;
}

.body .home .sectionB .mainInformation .botonGroup .btnContainer .btn {
  font-size: 1.5rem;
  border-radius: 0.5rem;
  background-color: var(--color10);
  letter-spacing: 0.2rem;
  font-weight: 550;
  border: none;
  width: 100%;
  padding-top: 2%;
  padding-bottom: 1%;
}

.body .home .sectionB .mainInformation .botonGroup .btnContainer .btn:hover {
  background-color: var(--color60);
}

.body .home .sectionB .mainInformation .botonGroup .btnContainer:hover {
  opacity: 1;
  border: 0.1rem solid var(--color60);
}

.body .home .sectionB .mainInformation .botonGroup .contactoIcon {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 2%;
}

.body .home .sectionB .mainInformation .botonGroup .contactoIcon .icon {
  width: 10%;
  opacity: 0.5;
}

.body .home .sectionB .mainInformation .botonGroup .contactoIcon .icon:hover {
  opacity: 1;
  scale: 1.2;
}

.body .home .sectionC {
  width: 5%;
}

.body .home .sectionC .cinta {
  opacity: 0.2;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  margin-top: -20%;
}

.body .gallery {
  background-color: var(--color60);
  height: 300px;
  margin-top: 2%;
}

.body .nosotros {
  font-family: var(--font-Quicksand);
  padding: 5%;
}

.body .nosotros .isotipo {
  margin-top: 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body .nosotros .isotipo .logo {
  opacity: 0.1;
  width: 20%;
}

.body .nosotros .descripcion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body .nosotros .descripcion .logo {
  width: 70%;
}

.body .nosotros .descripcion p {
  padding-top: 2%;
  font-size: 1.1em;
  text-align: center;
  letter-spacing: 0.05rem;
}

.body .nosotros .descripcion .botonGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body .nosotros .descripcion .botonGroup .btnContainer {
  border: 0.1rem solid var(--color10);
  width: 70%;
  padding: 0.5%;
  border-radius: 0.5rem;
  opacity: 0.8;
}

.body .nosotros .descripcion .botonGroup .btnContainer .btnCTA {
  font-size: 1rem;
  border-radius: 0.5rem;
  background-color: var(--color10);
  color: var(--colorWhite);
  letter-spacing: 0.2rem;
  font-weight: 550;
  border: none;
  width: 100%;
  padding-top: 2%;
  padding-bottom: 1%;
  font-family: var(--font-Castoro);
}

.body .nosotros .descripcion .botonGroup .btnContainer .btnCTA:hover {
  background-color: var(--color60);
}

.body .nosotros .descripcion .botonGroup .btnContainer:hover {
  opacity: 1;
  border: 0.1rem solid var(--color60);
}

.body .servicios {
  padding: 5%;
  padding-top: 2%;
}

.body .servicios .top .h2Title {
  font-family: var(--font-Castoro);
  color: var(--color60);
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
}

.body .servicios .top p {
  padding: 2%;
  font-size: 1.1em;
  text-align: center;
  letter-spacing: 0.05rem;
  font-family: var(--font-Quicksand);
  border: 0.1rem solid var(--color10);
  border-radius: 0.5rem;
}

.body .servicios .top .icon {
  padding: 2%;
  width: 25%;
  opacity: 0.2;
}

.body .servicios .top .topContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.body .servicios .top .end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body .servicios .top .end .banner {
  width: 30%;
  opacity: 0.2;
  margin-top: 1.5%;
}

.body .servicios .top .end .b2 {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.body .servicios .btnContainer {
  border: 0.1rem solid var(--color10);
  width: 40%;
  padding: 0.5%;
  border-radius: 0.5rem;
  opacity: 0.8;
  margin-top: 2%;
}

.body .servicios .btnContainer .btn {
  font-size: 1.2rem;
  border-radius: 0.5rem;
  background-color: var(--color10);
  letter-spacing: 0.2rem;
  font-weight: 550;
  border: none;
  width: 100%;
  padding-top: 2%;
  padding-bottom: 1%;
  font-family: var(--font-Castoro);
}

.body .servicios .btnContainer .btn:hover {
  background-color: var(--color60);
  opacity: 1;
}

.body .servicios .btnContainer:hover {
  opacity: 1;
}

.body .servicios .iconGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 2%;
  margin-top: 2%;
}

.body .servicios .iconGroup .icon {
  width: 5%;
  opacity: 0.5;
}

.body .servicios .iconGroup .icon:hover {
  opacity: 1;
}

.body .servicios .habitaciones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1%;
}

.body .servicios .habitaciones .descripcion {
  padding: 2%;
}

.body .servicios .habitaciones .descripcion h3 {
  font-family: var(--font-Castoro);
  color: var(--color60);
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.body .servicios .habitaciones .descripcion p {
  padding-top: 2%;
  font-size: 0.8em;
  text-align: center;
  letter-spacing: 0.05rem;
  font-family: var(--font-Quicksand);
}

.body .servicios .habitaciones .descripcion .btnContainer {
  width: 60%;
}

.body .servicios .habitaciones .descripcion .btnContainer .btn {
  font-size: 1rem;
  width: 100%;
}

.body .servicios .habitaciones .barras {
  border-left: var(--color10) solid 0.1rem;
  border-right: var(--color10) solid 0.1rem;
}

.body .servicios .botonBanner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2%;
  padding: 5%;
}

.body .servicios .botonBanner h4 {
  font-family: var(--font-Castoro);
  color: var(--color60);
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
}

.body .servicios .botonBanner .contactoIcon {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1%;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 0.5rem;
}

.body .servicios .botonBanner .contactoIcon .icon {
  width: 10%;
  opacity: 1;
}

.body .servicios .botonBanner .contactoIcon .icon:hover {
  opacity: 1;
  scale: 1.2;
}

.body .alojamientos {
  border-radius: 0.5rem;
  padding: 0%;
}

.body .alojamientos h1 {
  text-align: center;
  font-family: var(--font-Castoro);
  color: var(--color60);
  font-weight: bold;
}

.body .alojamientos .itemGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.5rem;
}

.body .alojamientos .itemGroup .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body .alojamientos .itemGroup .item .icon {
  width: 50%;
}

.body .alojamientos .itemGroup .item p {
  font-size: 0.6rem;
  text-align: center;
  color: var(--color10);
}

.body .contacto {
  padding: 5%;
  padding-top: 2%;
  padding-bottom: 1%;
  color: var(--color60);
}

.body .contacto .colA {
  padding: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.body .contacto .colA .botonBanner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2%;
  padding: 5%;
}

.body .contacto .colA .botonBanner h4 {
  font-family: var(--font-Castoro);
  color: var(--color60);
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
  margin-top: 2%;
}

.body .contacto .colA .botonBanner p {
  padding: 4%;
  text-align: justify;
}

.body .contacto .colA .botonBanner .contactoIcon {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1%;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 0.5rem;
}

.body .contacto .colA .botonBanner .contactoIcon .icon {
  width: 10%;
  opacity: 1;
}

.body .contacto .colA .botonBanner .contactoIcon .icon:hover {
  opacity: 1;
  scale: 1.2;
}

.body .contacto .colB {
  padding: 5%;
}

.body .contacto .colB form {
  background-color: var(--colorWhite);
  padding: 5%;
  border-radius: 1rem;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.body .contacto .colB label {
  display: block;
  margin-bottom: 1%;
}

.body .contacto .colB input,
.body .contacto .colB select,
.body .contacto .colB textarea {
  width: 100%;
  padding: 1%;
  margin-bottom: 1%;
  border: none;
  border-radius: 0.1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.body .contacto .colB textarea {
  resize: vertical;
}

.body .contacto .colB button {
  font-family: var(--font-Castoro);
  margin-top: 5%;
  background-color: var(--color60);
  color: var(--colorWhite);
  padding: 2% 5%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.body footer {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2%;
}

.body footer nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

.body footer nav a {
  font-family: var(--font-Quicksand);
  color: var(--color10);
  text-decoration: none;
  font-size: 1.2rem;
}

.body footer p {
  color: var(--color10);
  margin-top: 2%;
  font-size: small;
}

.body footer .cometa {
  margin-top: 2%;
}

.body footer .imagotipo {
  width: 5%;
}

.body footer .contactoIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 20%;
  margin-top: 0%;
}

.body footer .contactoIcon .icon {
  width: 10%;
}

@media (min-width: 1px) {
  /* Estilos específicos para dispositivos pequeños */
  .body {
    background-color: var(--colorWhite);
    padding-left: 0%;
    padding-right: 0%;
  }
  .body .home .sectionA {
    width: 6%;
  }
  .body .home .sectionA .cinta {
    opacity: 0.2;
    margin-top: -1%;
  }
  .body .home .sectionB {
    width: 100%;
    padding-top: 5%;
  }
  .body .home .sectionB header {
    width: 90%;
  }
  .body .home .sectionB header nav a {
    font-size: 1.2rem;
  }
  .body .home .sectionB .mainInformation .mainInformationA h1 {
    font-size: 2.5rem;
    color: var(--color10);
    font-weight: bold;
    letter-spacing: 0rem;
  }
  .body .home .sectionB .mainInformation .mainInformationA p {
    font-size: 0.6rem;
  }
  .body .home .sectionB .mainInformation .mainInformationA .logotipo {
    margin: auto;
    width: 70%;
    margin-top: -2%;
  }
  .body .home .sectionB .mainInformation .botonGroup .btnContainer {
    width: 50%;
  }
  .body .home .sectionB .mainInformation .botonGroup .btnContainer .btn {
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
  }
  .body .home .sectionB .mainInformation .botonGroup .contactoIcon {
    width: 60%;
    padding-top: 4%;
  }
  .body .home .sectionB .mainInformation .botonGroup .contactoIcon .icon {
    width: 8%;
  }
  .body .home .sectionC {
    width: 6%;
  }
  .body .home .sectionC .cinta {
    margin-top: -1%;
  }
  .body .gallery {
    background-color: var(--color60);
    height: 300px;
    margin-top: 2%;
  }
  .body .nosotros {
    padding: 5%;
    font-size: 1rem;
  }
  .body .nosotros .isotipo {
    margin-top: 4%;
  }
  .body .nosotros .isotipo .logo {
    opacity: 0.5;
    width: 1%;
    scale: 0.6;
  }
  .body .nosotros .descripcion p {
    padding-top: 5%;
    letter-spacing: 0rem;
  }
  .body .servicios {
    padding: 5%;
    padding-top: 2%;
    font-size: 0.9rem;
  }
  .body .servicios .h2Title {
    font-family: var(--font-Castoro);
    color: var(--color60);
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
  }
  .body .servicios .icon {
    padding: 2%;
    width: 25%;
    opacity: 0.2;
  }
  .body .servicios .topContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .body .servicios .topContainer p {
    font-size: 1rem;
    text-align: center;
    letter-spacing: 0.1rem;
    border-radius: 0.5rem;
    width: 80%;
    margin: auto;
  }
  .body .servicios .end {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    width: 100%;
  }
  .body .servicios .end .banner {
    width: 0%;
    display: none;
  }
  .body .servicios .end .btnContainer {
    border: 0.1rem solid var(--color10);
    width: 80%;
    padding: 0.5%;
    border-radius: 0.5rem;
    opacity: 0.8;
    margin-top: 2%;
  }
  .body .servicios .end .btnContainer .btnCTA {
    font-size: 1rem;
    border-radius: 0.5rem;
    background-color: var(--color10);
    letter-spacing: 0.2rem;
    font-weight: 550;
    border: none;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 1%;
    font-family: var(--font-Castoro);
  }
  .body .servicios .end .btnContainer .btnCTA:hover {
    background-color: var(--color60);
    opacity: 1;
  }
  .body .servicios .end .btnContainer:hover {
    opacity: 1;
  }
  .body .servicios .iconGroup {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 2%;
    margin-top: 2%;
  }
  .body .servicios .iconGroup .iconService {
    width: 25%;
    opacity: 0.5;
    padding: 5%;
  }
  .body .servicios .iconGroup .iconService:hover {
    opacity: 1;
  }
  .body .servicios .habitaciones {
    padding: 1%;
    margin: auto;
  }
  .body .servicios .habitaciones .descripcion {
    padding: 2%;
  }
  .body .servicios .habitaciones .descripcion h3 {
    font-family: var(--font-Castoro);
    color: var(--color60);
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
  }
  .body .servicios .habitaciones .descripcion p {
    padding-top: 2%;
    font-size: 0.8em;
    text-align: center;
    letter-spacing: 0.05rem;
    font-family: var(--font-Quicksand);
  }
  .body .servicios .habitaciones .descripcion .btnContainer {
    width: 60%;
  }
  .body .servicios .habitaciones .descripcion .btnContainer .btn {
    font-size: 1rem;
    width: 100%;
  }
  .body .servicios .habitaciones .barras {
    border: none;
  }
  .body .alojamientos {
    border-radius: 0.5rem;
    padding: 0%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .body .alojamientos h1 {
    text-align: center;
    font-family: var(--font-Castoro);
    color: var(--color60);
    font-weight: bold;
  }
  .body .alojamientos .itemGroup {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 0.5rem;
  }
  .body .alojamientos .itemGroup .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%;
  }
  .body .alojamientos .itemGroup .item .icon {
    width: 30%;
  }
  .body .alojamientos .itemGroup .item p {
    font-size: 1rem;
    text-align: center;
    color: var(--color10);
    margin-top: -15%;
  }
  .body footer {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2%;
  }
  .body footer nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 80%;
  }
  .body footer nav a {
    font-family: var(--font-Quicksand);
    color: var(--color10);
    text-decoration: none;
    font-size: 1.4rem;
  }
  .body footer p {
    color: var(--color10);
    margin-top: 4%;
    font-size: 0.9rem;
  }
  .body footer .cometa {
    margin-top: 2%;
  }
  .body footer .imagotipo {
    width: 5%;
  }
  .body footer .contactoIcon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 50%;
    margin-top: 0%;
  }
  .body footer .contactoIcon .icon {
    width: 10%;
  }
}

/* Estilos para dispositivos medianos (MD) */
@media (min-width: 768px) {
  /* Estilos específicos para dispositivos medianos */
  .body {
    background-color: green;
  }
}

/* Estilos para dispositivos grandes (LG y XL) */
@media (min-width: 992px) {
  /* Estilos específicos para dispositivos grandes */
  .body {
    background-color: blue;
  }
}

/* Estilos para dispositivos grandes (LG y XL) */
@media (min-width: 1200px) {
  /* Estilos específicos para dispositivos grandes */
  .body {
    background-color: yellow;
  }
}

/*
Apartamento Ático La Taberna
Vut Las Palomas
Vut La Taberna 1
Vut Sorpresa Suite La Taberna
Vut Lourdes
*/
/*# sourceMappingURL=style.css.map */