/* Estilos CSS aquí */
* {
    margin: 0;
    padding: 0;
}

:root {
    --color10: #da9528;
    --color60: #0756a1;
    --colorBlack: #2a2e32;
    --colorWhite: #f1f2f2;
    --font-Castoro: "Castoro Titling", serif;
    --font-Quicksand: "Quicksand", sans-serif;

    // Define los breakpoints usando las variables de Bootstrap
    --breakpoint-xs: 0; // Extra pequeño
    --breakpoint-sm: 576px; // Pequeño
    --breakpoint-md: 768px; // Mediano
    --breakpoint-lg: 992px; // Grande
    --breakpoint-xl: 1200px; // Extra grande
}

.body {
    background-color: var(--colorWhite);
    padding: 2%;
    max-width: 1400px;
    margin: auto;
    .mobile {
        display: block;
    }
    .desktop {
        display: none;
    }
    .home {
        // height: 100vh;
        display: flex;
        justify-content: center;
        align-items: stretch;
        font-family: var(--font-Castoro);
        padding: 0%;
        .sectionA {
            width: 10%;

            opacity: 0.1;
            .cintaA {
                transform: scaleX(-1);
            }
            .cintaC {
                //transform: scaleX(-1);
            }
        }

        .sectionB {
            width: 100%;
            padding: 1%;
            padding-top: 20%;

            header {
                padding: 0%;
                padding-top: 30%;
                width: 100%;
                //background-color: #2a2e32;

                nav {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    a {
                        font-family: var(--font-Quicksand);
                        color: var(--color10);
                        text-decoration: none;
                        font-size: 0.8rem;
                        width: 23%;
                        text-align: left;
                        font-weight: bold;
                    }
                    .left {
                        text-align: right;
                    }
                    .containerimagotipo {
                        width: 8%;
                        display: flex;
                        justify-content: center;
                        .imagotipo {
                            width: 90%;
                            align-self: center;
                        }
                    }
                }
            }
            .mainInformation {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: stretch;
                font-family: var(--font-Castoro);
                .mainIcon {
                    width: 25%;
                    margin: auto;
                    opacity: 0.5;
                }
                .infoLogo {
                    //background-color: rebeccapurple;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding-top: 25%;
                    h1 {
                        font-size: 1.8rem;
                        color: var(--color10);
                        font-weight: bold;
                        letter-spacing: 0.1em;
                    }
                    .logotipo {
                        margin: auto;
                        padding-top: 0%;
                        margin-top: -4%;
                    }
                    p {
                        padding-top: 2%;
                        font-size: 0.75em;
                        text-align: center;
                        color: var(--colorBlack);
                        font-family: var(--font-Quicksand);
                    }
                }
                .botonGroup {
                    //background-color: red;
                    display: flex;
                    flex-direction: column;
                    justify-content: stretch;
                    align-items: center;
                    padding-top: 12%;
                    .btnContainer {
                        border: 0.1rem solid var(--color10);
                        width: 100%;
                        padding: 1%;
                        border-radius: 0.2em;
                        opacity: 0.8;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-top: 25%;
                        .CTAbtn {
                            font-size: 1.5em;
                            letter-spacing: 0.05rem;
                            border: none;
                            border-radius: inherit;
                            background-color: var(--color10);
                            width: 100%;
                            padding-top: 3%;
                            color: var(--colorWhite);
                        }
                        .CTAbtn:hover {
                            background-color: var(--color60);
                        }
                    }
                    .btnContainer:hover {
                        opacity: 1;
                        border: 0.1rem solid var(--color60);
                    }
                    .contactoIcon {
                        width: 100%;
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        padding-top: 5%;
                        .link {
                            //background-color: #2a2e32;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            .icon {
                                width: 60%;
                                opacity: 0.5;
                            }
                        }
                        .icon:hover {
                            opacity: 1;
                            scale: 1.2;
                        }
                    }
                }
            }
        }
    }
    .gallery {
        background-color: var(--color60);
        height: 400px;
        //padding-top: 15%;
        margin-top: 10%;
        border: #0756a1 solid 1px;
        border-radius: 1rem;
        color: #f1f2f2;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nosotros {
        font-family: var(--font-Quicksand);
        padding: 10%;
        .isotipo {
            display: flex;
            justify-content: center;
            align-items: center;
            .logo {
                opacity: 0.1;
                width: 20%;
            }
        }
        .descripcion {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            .logo {
                padding-top: 5%;
                width: 100%;
            }
            p {
                padding-top: 5%;
                font-size: 0.8em;
                letter-spacing: 0.05em;
                text-align: justify;
                width: 90%;
            }
        }

        .btnContainer {
            border: 0.1rem solid var(--color10);
            width: 80%;
            padding: 1.5%;
            border-radius: 0.2em;
            opacity: 0.8;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 5%;
            font-family: var(--font-Castoro);
            .CTAbtn {
                font-size: 1.1em;
                letter-spacing: 0.05rem;
                border: none;
                border-radius: inherit;
                background-color: var(--color10);
                width: 100%;
                padding-top: 4%;
                padding-bottom: 2%;
                color: var(--colorWhite);
                //font-weight: bold;
            }
            .CTAbtn:hover {
                background-color: var(--color60);
            }
        }

        .btnContainer:hover {
            opacity: 1;
            border: 0.1rem solid var(--color60);
        }
    }
    .servicios {
        .mobile {
            display: block;
        }
        .desktop {
            display: none;
        }
        .iconGroup {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;

            .iconService {
                padding: 5%;
                width: 25%;
                opacity: 0.5;
            }
            .icon:hover {
                opacity: 1;
            }
        }
        .descripcionGeneral {
            background-color: rgba(218, 149, 40, 0.05);
            border-radius: 0.5rem;
            padding-bottom: 10%;
            margin-top: 20%;
            box-shadow: 0px 10px 1em rgba(0, 0, 0, 0.2);

            h2 {
                font-family: var(--font-Castoro);
                color: var(--color60);
                text-align: center;
                font-size: 2rem;
                font-weight: bold;
                padding-top: 5%;
            }
            p {
                padding: 5%;
                padding-top: 2%;
                text-align: justify;
                text-justify: inter-character;
                font-family: var(--font-Quicksand);
                background-color: transparent;
                border: none;
                width: 100%;
                font-size: 1em;
            }

            .botonGroup {
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: var(--font-Castoro);
                background-color: transparent;
                .banner {
                    width: 30%;
                    opacity: 0.2;
                    margin-top: 1.5%;
                    display: none;
                }
                .b2 {
                    transform: scaleX(-1);
                }
                .btnContainer {
                    border: 0.1rem solid var(--color10);
                    width: 90%;
                    padding: 1.5%;
                    border-radius: 0.2em;
                    opacity: 0.8;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 0%;
                    background-color: var(--colorWhite);
                    .CTAbtn {
                        font-size: 1.1em;
                        letter-spacing: 0.05rem;
                        border: none;
                        border-radius: inherit;
                        background-color: var(--color10);
                        width: 100%;
                        padding-top: 2%;
                        padding-bottom: 1%;
                        color: var(--colorWhite);
                    }
                    .CTAbtn:hover {
                        background-color: var(--color60);
                    }
                }

                .btnContainer:hover {
                    opacity: 1;
                    border: 0.1rem solid var(--color60);
                }
            }
        }
        .habitaciones {
            background-color: rgba(218, 149, 40, 0.08);
            border-radius: 1em;
            display: flex;
            justify-content: space-between;
            margin: auto;
            margin-top: 20%;
            width: 90%;

            .title {
                display: flex;
                align-items: center;
                justify-content: space-between;
                .titleIcon {
                    width: 15%;
                }
                .titleIconE {
                    width: 20%;
                }
            }
            .descripcion {
                padding: 5%;
                padding-top: 10%;
                padding-bottom: 10%;

                h3 {
                    font-family: var(--font-Castoro);
                    color: var(--color60);
                    text-align: left;
                    font-size: 1.8rem;
                    font-weight: bold;
                }

                p {
                    padding: 5%;

                    text-align: justify;
                    text-justify: inter-word;
                    font-family: var(--font-Quicksand);
                    border: none;
                    width: 100%;
                    margin: auto;
                    font-size: 0.8em;
                }
                .btnContainer {
                    border: 0.1rem solid var(--color60);
                    //margin-left: 60%;
                    width: 60%;
                    padding: 1.5%;
                    border-radius: 0.2em;
                    opacity: 0.8;
                    display: flex;
                    justify-content: left;
                    align-items: center;
                    margin-top: 5%;
                    font-family: var(--font-Castoro);
                    background-color: transparent;
                    .CTAbtn {
                        font-size: 1em;
                        letter-spacing: 0.05rem;
                        border: none;
                        border-radius: inherit;
                        background-color: var(--color60);
                        width: 100%;
                        padding-top: 3%;
                        padding-bottom: 1%;
                        color: var(--colorWhite);

                        //font-weight: bold;
                    }
                    .CTAbtn:hover {
                        background-color: var(--color10);
                    }
                }

                .btnContainer:hover {
                    opacity: 1;
                    border: 0.1rem solid var(--color10);
                }
            }
            .barras {
                border-top: var(--color10) solid 0.1rem;
                border-bottom: var(--color10) solid 0.1rem;
                background-color: rgba(218, 149, 40, 0.05);
            }
        }
    }
    .alojamientos {
        padding-top: 10%;
        padding-bottom: 5%;
        border-radius: 0.5em;
        //border: var(--color60) solid 0.12em;
        background-color: var(--colorWhite);
        margin-top: 10%;
        background-color: rgba(7, 86, 161, 0.05);
        background-image: url(img/decorationb.svg);
        background-size: cover;
        width: 90%;
        h3 {
            text-align: center;
            font-family: var(--font-Castoro);
            color: var(--color60);
            font-weight: bold;
            font-size: 2.5em;
        }
        p {
            text-align: center;
            font-family: var(--font-Castoro);
            color: var(--color10);
            font-weight: bold;
            font-size: 1.2em;
            margin-top: -3%;
        }
        .itemGroup {
            padding: 1%;
            border-radius: 0.5rem;
            border-bottom-left-radius: 2rem;
            border-bottom-right-radius: 2rem;
            .item {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                margin-top: 8%;
                .icon {
                    width: 90%;
                }

                .linkAlojamiento {
                    text-align: center;
                    color: var(--color10);
                    font-weight: bold;
                    padding-top: 3%;
                    text-decoration: none;
                    p {
                        font-family: var(--font-Quicksand);
                        font-size: 0.7em;
                    }
                }
            }
        }
    }
    .contacto {
        padding: 1%;
        padding-top: 2%;
        padding-bottom: 1%;
        color: var(--color60);
        margin-top: 20%;
        .colA {
            padding: 2%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .botonBanner {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                margin-top: 2%;
                padding: 5%;
                h4 {
                    font-family: var(--font-Castoro);
                    color: var(--color60);
                    font-size: 1.5rem;
                    font-weight: bold;
                    letter-spacing: 0rem;
                    margin-top: 2%;
                }
                p {
                    padding: 4%;
                    text-align: justify;
                }
                .contactoIcon {
                    display: flex;
                    justify-content: space-between;
                    margin: auto;
                    align-items: center;
                    padding: 0%;
                    margin-top: 2%;
                    .link {
                        display: flex;
                        justify-content: center;
                        .icon {
                            width: 30%;
                            opacity: 0.5;
                        }
                        .icon:hover {
                            opacity: 1;
                        }
                    }
                }
            }
        }
        .colB {
            padding: 5%;

            form {
                background-color: var(--colorWhite);
                padding: 5%;
                padding-top: 10%;
                padding-bottom: 10%;
                border-radius: 1rem;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            }

            label {
                display: block;
                margin-bottom: 2%;
            }

            input,
            select,
            textarea {
                width: 100%;
                padding: 1%;
                margin-bottom: 3%;
                border: none;
                border-radius: 0.1rem;
                box-sizing: border-box;
                color: var(--color60);
            }

            textarea {
                resize: vertical;
            }

            .btnContainer {
                border: 0.1rem solid var(--color10);
                width: 70%;
                padding: 1.5%;
                border-radius: 0.2em;
                opacity: 0.8;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 10%;
                font-family: var(--font-Castoro);
                .CTAbtn {
                    font-size: 1em;
                    letter-spacing: 0.1rem;
                    border: none;
                    border-radius: inherit;
                    background-color: var(--color10);
                    width: 100%;
                    padding-top: 2%;
                    padding-bottom: 1%;
                    color: var(--colorWhite);
                    //font-weight: bold;
                }
                .CTAbtn:hover {
                    background-color: var(--color60);
                }
            }

            .btnContainer:hover {
                opacity: 1;
                border: 0.1rem solid var(--color60);
            }
        }
    }
    footer {
        //background-color: var(--color60);
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2%;
        background-color: var(--colorWhite);
        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 90%;
            a {
                font-family: var(--font-Quicksand);
                color: var(--colorBlack);
                text-decoration: none;
                font-size: 0.8rem;
                width: 23%;
                text-align: left;
                font-weight: bold;
                opacity: 0.8;
                //border: #0756a1 solid 1px;
            }
            .left {
                text-align: right;
            }
            .containerimagotipo {
                width: 8%;
                display: flex;
                justify-content: center;
                .imagotipo {
                    width: 100%;
                    align-self: center;
                    opacity: 0.5;
                }
            }
        }
        p {
            color: var(--colorBlack);
            margin-top: 4%;
            font-size: 0.7rem;
            width: 100%;
            text-align: center;
            opacity: 0.5;
        }
        .cometa {
            margin-top: 5%;
        }

        .contactoIcon {
            display: flex;
            justify-content: space-between;
            margin: auto;
            align-items: center;
            padding: 0%;
            margin-top: 2%;
            width: 50%;
            .link {
                display: flex;
                justify-content: center;
                .icon {
                    width: 50%;
                    opacity: 0.5;
                }
                .icon:hover {
                    opacity: 1;
                }
            }
        }
    }
}
@import "_responsive.scss";

/*
Apartamento Ático La Taberna
Vut Las Palomas
Vut La Taberna 1
Vut Sorpresa Suite La Taberna
Vut Lourdes
*/

/*
<body class="body">
    <!-- HEAD -->
    <section id="home" class="container-fluid home">
        <div class="sectionA">
            <img class="cintaA" src="img/patronLateral.svg" alt="">
        </div>
        <div class="sectionB">
            <div class="container-fluid mainInformation">
                <img class="mainIcon" data-aos="fade-down" src="img/isotipoAmarillo.svg" alt="">
                <div class="infoLogo">
                    <h1 data-aos="fade-down">Hostal</h1>
                    <img class="logotipo" src="img/logoAzul.svg" alt="" data-aos="zoom-in"
                        data-aos-easing="ease-in-sine">
                    <p data-aos="fade-up">C. Carrellana, 33, 05400 Arenas de San Pedro, Ávila</p>
                </div>
                <div class="container botonGroup" data-aos="fade-up">
                    <div class="contactoIcon">
                        <a class="link"
                            href="https://api.whatsapp.com/send?phone=34722201905&text=Hola,%20quiero%20consultar%20la%20disponibilidad%20en%20la%20taberna.%20"
                            target="_blank">
                            <img class="icon" src="img/whatsapp.svg" alt="">
                        </a>
                        <a class="link" href="mailto:elcorreoquequieres@correo.com">
                            <img class="icon" src="img/email.svg" alt=""></a>
                        <a class="link" href="tel:+34722201905"><img class="icon" src="img/phone.svg" alt=""></a>
                        <a class="link" href="https://www.booking.com/hotel/es/hostal-la-taverna.es.html"
                            target="_blank"><img class="icon" src="img/booking.svg" alt=""></a>
                    </div>
                    <div class="container btnContainer">
                        <button class="CTAbtn">RESERVA HOY</button>
                    </div>

                </div>
            </div>

            <header data-aos="fade-up">
                <nav>
                    <a href="#home">Inicio</a>
                    <a href="#gallery">Galería</a>
                    <div class="containerimagotipo">
                        <img class="imagotipo" src="img/isotipoAmarillo.svg" alt="">
                    </div>
                    <a class="left" href="#nosotros">Nosotros</a>
                    <a class="left" href="#contacto">Contacto</a>
                </nav>
            </header>
        </div>
        <div class="sectionA">
            <img class="cintaC" src="img/patronLateral.svg" alt="">
        </div>
    </section>
    <!-- GALERY -->
    <section id="gallery" class="container-fluid gallery">
        <h3> FOTOS</h3>
    </section>
    <!-- NOSOTROS -->
    <section id="nosotros" class=" nosotros">

        <div class="isotipo" data-aos="zoom-in-down">
            <img class="logo" src="img/isotipoGris.svg" alt="">
        </div>

        <div class="descripcion" data-aos="zoom-out" data-aos-offset="300">
            <img class="logo" src="img/logoAzul.svg" alt="" data-aos="zoom-out">
            <p>Bienvenido a Hostal La Taberna en Arenas de San Pedro. Disfruta de una estancia acogedora y
                cómoda en nuestro hostal, situado en un encantador rincón de la provincia de Ávila, España.

                Ofrecemos habitaciones confortables, un ambiente acogedor y una ubicación ideal para explorar la
                belleza natural de la Sierra de Gredos. Además, para hacer tu experiencia aún más placentera,
                contamos con un bar y deliciosa comida disponible. ¡Reserva tu estancia con nosotros y descubre lo
                que esta maravillosa región tiene para ofrecer!</p>

        </div>

        <div class="container btnContainer">
            <button class="CTAbtn">Reserva ahora</button>
        </div>

    </section>
    <!-- SERVICIOS -->
    <section id="servios" class="container-fluid servicios ">

        <div class="container-fluid iconGroup" data-aos="flip-left">
            <img class="iconService" src="img/cama.svg" alt="">
            <img class="iconService" src="img/wifi.svg" alt="">
            <img class="iconService" src="img/parking.svg" alt="">
            <img class="iconService" src="img/tv.svg" alt="">
            <img class="iconService" src="img/ac.svg" alt="">
            <img class="iconService" src="img/hairdryier.svg" alt="">
            <img class="iconService" src="img/food.svg" alt="">
            <img class="iconService" src="img/drinks.svg" alt="">
        </div>
        <div class="container-fluid descripcionGeneral shadow">
            <h2>HABITACIONES</h2>

            <p>
                Nuestras habitaciones te brindan una experiencia inolvidable. Equipadas con un escritorio práctico, TV
                de pantalla plana y ropa de cama suave para tu comodidad. Toallas mullidas, armario y enchufe cerca
                de la cama para tu conveniencia. Disfruta de la zona de comedor para momentos especiales. ¡Haz tu
                estancia cómoda y acogedora con nosotros!
            </p>
            <!--
            <p>Nuestras habitaciones están diseñadas para brindarte una experiencia inolvidable.
                Equipadas
                con un
                práctico escritorio, TV de pantalla plana para tus momentos de relax y suave ropa de cama
                que te
                abraza, te aseguramos comodidad en cada rincón. Accede a tu espacio de manera exclusiva
                mediante
                encantadoras escaleras, disfruta de una entrada privada para tu tranquilidad y ajusta el
                ambiente a
                tu gusto con aire acondicionado individual y calefacción. Las toallas mullidas y el armario
                están
                listos para tu uso personal, y el enchufe cerca de la cama facilita la recarga de tus
                dispositivos.
                Además, la zona de comedor te invita a saborear momentos especiales ¡Haz de tu estancia una
                experiencia cómoda y acogedora con nosotros!</p> -->


            <div class="container-fluid botonGroup" data-aos="fade-dow" data-aos-anchor-placement="bottom-bottom">
                <img class="banner b2" src="img/patronLateralH.svg" alt="">
                <div class="btnContainer">
                    <button class="CTAbtn">¡Vive la Experiencia!</button>
                </div>
                <img class="banner" src="img/patronLateralH.svg" alt="">
            </div>

        </div>
        <div class="row habitaciones shadow">
            <div class="col-12 col-md-4 descripcion">
                <div class="container-fluid title">
                    <h3> Sencilla</h3>
                    <img class="titleIcon" src="img/camaS.svg">
                </div>
                <p>Habitacion perfectas para viajeros solitarios en busca de un refugio tranquilo en Arenas de
                    San
                    Pedro, Ávila! Equipadas con todas las comodidades necesarias, incluyendo una acogedora cama
                    individual o doble.</p>
                <div class="container btnContainer">
                    <button class="CTAbtn ">Hospédate</button>
                </div>
            </div>


            <div class="col-12 col-md-4 descripcion barras">
                <div class="container-fluid title">

                    <h3> DOBLE</h3>
                    <img src="img/camad.svg" alt="" class="titleIcon">
                </div>

                <p>Para parejas o amigos que deseen escapar a Arenas de San Pedro, Ávila!. Con un ambiente
                    acogedor y
                    relajante, nuestras habitaciones dobles cuentan con 2 camas para que disfrutes al máximo.
                </p>
                <div class="container btnContainer">

                    <button class="CTAbtn ">Aventúrate</button>
                </div>
            </div>

            <div class="col-12 col-md-4 descripcion">
                <div class="container-fluid title">
                    <h3> TRIPLE</h3>
                    <img src="img/camaT.svg" alt="" class="titleIconE">
                </div>

                <p>La elección perfecta para grupos o familias. Con amplios espacios, instalaciones modernas y
                    un
                    ambiente acogedor, te ofrecemos una estancia cómoda y relajante con
                    3 camas para mayor comodidad. </p>



                <div class="container btnContainer">
                    <button class="CTAbtn ">Regístrate</button>
                </div>


            </div>
        </div>
    </section>
    <!-- ALOJAMIENTOS -->
    <section id="alojamientos" class="container-fluid alojamientos shadow">
        <h3>ALOJAMIENTOS </h3>
        <P>EN ARENAS DE SAN PEDRO</P>

        <div class="row itemGroup">
            <div class="col-6 col-md-4 item" data-aos="flip-up" data-aos-delay="100">
                <a class="linkAlojamiento"  href="">
                    <img src="img/aticovut.svg" class="icon" alt="">
                    <p>Apartamento Ático La Taberna</p>
                </a>
            </div>
            <div class="col-6 col-md-4 item" data-aos="flip-up" data-aos-delay="200">
                <a class="linkAlojamiento"  href="">
                <img src="img/PALOMAS.svg" class="icon" alt="">
                <p>VUT Las Palomas</p>
                </a>
            </div>
            <div class="col-6 col-md-4 item" data-aos="flip-up" data-aos-delay="50">
                <a class="linkAlojamiento" href="">
                <img src="img/LATABERNA1.svg" class="icon" alt="">
                <p>VUT La Taberna 1</p>
                </a>
            </div>
            <div class="col-6 col-md-4 item" data-aos="flip-up" data-aos-delay="150">
                <a class="linkAlojamiento" href="">
                <img src="img/Sorpresavut.svg" class="icon" alt="">
                <p>VUT Sorpresa Suite La Taberna</p>
                </a>
            </div>
            <div class="col-6 col-md-4 item" data-aos="flip-up" data-aos-delay="250">
                <a class="linkAlojamiento" href="">
                <img src="img/LOURDES.svg" class="icon" alt="">
                <p>VUT Lourdes</p>
                </a>
            </div>
            <div class="col-6  col-md-4 item" data-aos="flip-up" data-aos-delay="250">
                <a class="linkAlojamiento"  href="">
                <img src="img/LATABERNAHOS.svg" class="icon" alt="">
                <p>Hostal</p>
                </a>
            </div>
        </div>

    </section>
    <!-- CONTACTO -->
    <section id="contacto" class="container-fluid contacto">
        <div class="row">
            <div class="col-12 colA">

                <div class="container botonBanner">
                    <img class="logotipo" src="img/logoAzul.svg" alt="">

                    <h4>Habla con Nosotros</h4>

                    <p>
                        Experimenta comodidad inigualable, un ambiente encantador y un servicio personalizado en nuestra
                        ubicación ideal. Descubre la belleza de Ávila y disfruta de delicias gastronómicas en nuestro
                        hostal. Además, aprovecha nuestra proximidad a lugares turísticos como el castillo y la ermita,
                        haciendo tu estancia aún más memorable y completa.
                    </p>
                    <div class="contactoIcon">

                        <img class="icon" src="img/whatsappb.svg" alt="">
                        <img class="icon" src="img/emailb.svg" alt="">
                        <img class="icon" src="img/phoneb.svg" alt="">
                        <img class="icon" src="img/bookingb.svg" alt="">
                    </div>

                </div>

            </div>

            <div class="col-12 colB">
                <form action="#" method="post">
                    <label for="nombre">Nombre:</label>
                    <input type="text" id="nombre" name="nombre" required>

                    <label for="telefono">Número de Teléfono:</label>
                    <input type="tel" id="telefono" name="telefono" required>

                    <label for="correo">Correo Electrónico:</label>
                    <input type="email" id="correo" name="correo" required>


                    <label for="mensaje">Mensaje:</label>
                    <textarea id="mensaje" name="mensaje" rows="4" required></textarea>

                    <label for="contacto">¿Cómo quieres ser contactarnos?</label>
                    <select id="contacto" name="contacto" required>
                        <option value="whatsapp">WhatsApp</option>
                        <option value="correo">Correo</option>
                    </select>


                    <div class="container btnContainer">
                        <button class="CTAbtn ">CONTACTANOS</button>
                    </div>
            </div>
            </form>

        </div>

    </section>
    <!-- FOOTER -->
    <footer class="container-fluid">
        <nav>
            <a href="#home">Inicio</a>
            <a href="#gallery">Galería</a>
            <div class="containerimagotipo">
                <img class="imagotipo" src="img/isotipoAmarillo.svg" alt="">
            </div>
            <a class="left" href="#nosotros">Nosotros</a>
            <a class="left" href="#contacto">Contacto</a>
        </nav>
        <p>C. Carrellana, 33, 05400 Arenas de San Pedro, Ávila. <br> +34 920370395</p>

        <div class="container-fluid contactoIcon">

            <img class="icon" src="img/whatsappg.svg" alt="">
            <img class="icon" src="img/emailg.svg" alt="">
            <img class="icon" src="img/phoneg.svg" alt="">
            <img class="icon" src="img/bookingg.svg" alt="">
        </div>


        <p class="cometa">POWERED BY COMETA</p>
    </footer>

</body>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init({
        offset: 00,
        duration: 2500,
        delay: 500,
        once: true,
    });
</script>

</html>*/
