@charset "UTF-8";
/* Estilos CSS aquí */
* {
  margin: 0;
  padding: 0;
}

:root {
  --color10: #da9528;
  --color60: #0756a1;
  --colorBlack: #2a2e32;
  --colorWhite: #f1f2f2;
  --font-Castoro: "Castoro Titling", serif;
  --font-Quicksand: "Quicksand", sans-serif;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}

.body {
  background-color: var(--colorWhite);
  padding: 2%;
}

.body .home {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  font-family: var(--font-Castoro);
  padding: 0%;
}

.body .home .sectionA {
  width: 10%;
  opacity: 0.1;
}

.body .home .sectionA .cintaA {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.body .home .sectionB {
  width: 100%;
  padding: 1%;
  padding-top: 20%;
}

.body .home .sectionB header {
  padding: 0%;
  padding-top: 30%;
  width: 100%;
}

.body .home .sectionB header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body .home .sectionB header nav a {
  font-family: var(--font-Quicksand);
  color: var(--color10);
  text-decoration: none;
  font-size: 0.8rem;
  width: 23%;
  text-align: left;
  font-weight: bold;
}

.body .home .sectionB header nav .left {
  text-align: right;
}

.body .home .sectionB header nav .containerimagotipo {
  width: 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.body .home .sectionB header nav .containerimagotipo .imagotipo {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.body .home .sectionB .mainInformation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  font-family: var(--font-Castoro);
}

.body .home .sectionB .mainInformation .mainIcon {
  width: 25%;
  margin: auto;
  opacity: 0.5;
}

.body .home .sectionB .mainInformation .infoLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 25%;
}

.body .home .sectionB .mainInformation .infoLogo h1 {
  font-size: 1.8rem;
  color: var(--color10);
  font-weight: bold;
  letter-spacing: 0.1em;
}

.body .home .sectionB .mainInformation .infoLogo .logotipo {
  margin: auto;
  padding-top: 0%;
  margin-top: -4%;
}

.body .home .sectionB .mainInformation .infoLogo p {
  padding-top: 2%;
  font-size: 0.75em;
  text-align: center;
  color: var(--colorBlack);
  font-family: var(--font-Quicksand);
}

.body .home .sectionB .mainInformation .botonGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 12%;
}

.body .home .sectionB .mainInformation .botonGroup .btnContainer {
  border: 0.1rem solid var(--color10);
  width: 100%;
  padding: 1%;
  border-radius: 0.2em;
  opacity: 0.8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25%;
}

.body .home .sectionB .mainInformation .botonGroup .btnContainer .CTAbtn {
  font-size: 1.5em;
  letter-spacing: 0.05rem;
  border: none;
  border-radius: inherit;
  background-color: var(--color10);
  width: 100%;
  padding-top: 3%;
  color: var(--colorWhite);
}

.body .home .sectionB .mainInformation .botonGroup .btnContainer .CTAbtn:hover {
  background-color: var(--color60);
}

.body .home .sectionB .mainInformation .botonGroup .btnContainer:hover {
  opacity: 1;
  border: 0.1rem solid var(--color60);
}

.body .home .sectionB .mainInformation .botonGroup .contactoIcon {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5%;
}

.body .home .sectionB .mainInformation .botonGroup .contactoIcon .icon {
  width: 12%;
  opacity: 0.5;
}

.body .home .sectionB .mainInformation .botonGroup .contactoIcon .icon:hover {
  opacity: 1;
  scale: 1.2;
}

.body .gallery {
  background-color: var(--color60);
  height: 400px;
  margin-top: 10%;
  border: #0756a1 solid 1px;
  border-radius: 1rem;
  color: #f1f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body .nosotros {
  font-family: var(--font-Quicksand);
  padding: 10%;
}

.body .nosotros .isotipo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body .nosotros .isotipo .logo {
  opacity: 0.1;
  width: 20%;
}

.body .nosotros .descripcion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body .nosotros .descripcion .logo {
  padding-top: 5%;
  width: 70%;
}

.body .nosotros .descripcion p {
  padding-top: 5%;
  font-size: 1em;
  letter-spacing: 0.05em;
  text-align: center;
}

.body .nosotros .btnContainer {
  border: 0.1rem solid var(--color10);
  width: 80%;
  padding: 1.5%;
  border-radius: 0.2em;
  opacity: 0.8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5%;
  font-family: var(--font-Castoro);
}

.body .nosotros .btnContainer .CTAbtn {
  font-size: 1.1em;
  letter-spacing: 0.05rem;
  border: none;
  border-radius: inherit;
  background-color: var(--color10);
  width: 100%;
  padding-top: 4%;
  padding-bottom: 2%;
  color: var(--colorWhite);
}

.body .nosotros .btnContainer .CTAbtn:hover {
  background-color: var(--color60);
}

.body .nosotros .btnContainer:hover {
  opacity: 1;
  border: 0.1rem solid var(--color60);
}

.body .nosotros .contactoIcon {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5%;
}

.body .nosotros .contactoIcon .icon {
  width: 15%;
  opacity: 0.5;
}

.body .nosotros .contactoIcon .icon:hover {
  opacity: 1;
  scale: 1.2;
}

.body .servicios .iconGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.body .servicios .iconGroup .iconService {
  padding: 5%;
  width: 25%;
  opacity: 0.5;
}

.body .servicios .iconGroup .icon:hover {
  opacity: 1;
}

.body .servicios .descripcionGeneral {
  border-radius: 0.5rem;
  padding-bottom: 10%;
  margin-top: 20%;
}

.body .servicios .descripcionGeneral h2 {
  font-family: var(--font-Castoro);
  color: var(--color10);
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  padding-top: 10%;
}

.body .servicios .descripcionGeneral p {
  padding: 5%;
  padding-top: 2%;
  text-align: justify;
  font-family: var(--font-Quicksand);
  background-color: transparent;
  border: none;
  width: 100%;
}

.body .servicios .descripcionGeneral .botonGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: var(--font-Castoro);
}

.body .servicios .descripcionGeneral .botonGroup .banner {
  width: 30%;
  opacity: 0.2;
  margin-top: 1.5%;
  display: none;
}

.body .servicios .descripcionGeneral .botonGroup .b2 {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.body .servicios .descripcionGeneral .botonGroup .btnContainer {
  border: 0.1rem solid var(--color10);
  width: 90%;
  padding: 1.5%;
  border-radius: 0.2em;
  opacity: 0.8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0%;
}

.body .servicios .descripcionGeneral .botonGroup .btnContainer .CTAbtn {
  font-size: 1.1em;
  letter-spacing: 0.05rem;
  border: none;
  border-radius: inherit;
  background-color: var(--color10);
  width: 100%;
  padding-top: 2%;
  padding-bottom: 1%;
  color: var(--colorWhite);
}

.body .servicios .descripcionGeneral .botonGroup .btnContainer .CTAbtn:hover {
  background-color: var(--color60);
}

.body .servicios .descripcionGeneral .botonGroup .btnContainer:hover {
  opacity: 1;
  border: 0.1rem solid var(--color60);
}

.body .servicios .habitaciones {
  background-color: rgba(218, 149, 40, 0.08);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10%;
}

.body .servicios .habitaciones .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.body .servicios .habitaciones .title .titleIcon {
  width: 15%;
}

.body .servicios .habitaciones .title .titleIconE {
  width: 25%;
}

.body .servicios .habitaciones .descripcion {
  padding: 5%;
  padding-top: 10%;
  padding-bottom: 10%;
}

.body .servicios .habitaciones .descripcion h3 {
  font-family: var(--font-Castoro);
  color: var(--color60);
  text-align: left;
  font-size: 2.2rem;
  font-weight: bold;
}

.body .servicios .habitaciones .descripcion p {
  padding-top: 2%;
  text-align: justify;
  font-family: var(--font-Quicksand);
  background-color: transparent;
  border: none;
  width: 100%;
  margin: auto;
  padding: 5%;
}

.body .servicios .habitaciones .descripcion .btnContainer {
  border: 0.1rem solid var(--color10);
  width: 60%;
  padding: 1.5%;
  border-radius: 0.2em;
  opacity: 0.8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5%;
  font-family: var(--font-Castoro);
}

.body .servicios .habitaciones .descripcion .btnContainer .CTAbtn {
  font-size: 1.1em;
  letter-spacing: 0.05rem;
  border: none;
  border-radius: inherit;
  background-color: var(--color10);
  width: 100%;
  padding-top: 3%;
  padding-bottom: 1%;
  color: var(--colorWhite);
}

.body .servicios .habitaciones .descripcion .btnContainer .CTAbtn:hover {
  background-color: var(--color60);
}

.body .servicios .habitaciones .descripcion .btnContainer:hover {
  opacity: 1;
  border: 0.1rem solid var(--color60);
}

.body .servicios .habitaciones .barras {
  border-top: var(--color10) solid 0.1rem;
  border-bottom: var(--color10) solid 0.1rem;
  background-color: rgba(218, 149, 40, 0.05);
}

.body .alojamientos {
  padding-top: 10%;
  padding-bottom: 5%;
  border-radius: 0.5em;
  background-color: var(--colorWhite);
  margin-top: 20%;
  background-color: rgba(218, 149, 40, 0.05);
  background-image: url(img/decoration.svg);
  background-size: cover;
}

.body .alojamientos h3 {
  text-align: center;
  font-family: var(--font-Castoro);
  color: var(--color60);
  font-weight: bold;
  font-size: 2em;
}

.body .alojamientos p {
  text-align: center;
  font-family: var(--font-Castoro);
  color: var(--color10);
  font-weight: bold;
  font-size: 1.2em;
  margin-top: -3%;
}

.body .alojamientos .itemGroup {
  padding: 1%;
  border-radius: 0.5rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.body .alojamientos .itemGroup .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10%;
}

.body .alojamientos .itemGroup .item .icon {
  width: 80%;
}

.body .alojamientos .itemGroup .item p {
  font-size: 0.7em;
  text-align: center;
  color: var(--color10);
  font-weight: bold;
  font-family: var(--font-Quicksand);
  padding-top: 3%;
}

.body .contacto {
  padding: 1%;
  padding-top: 2%;
  padding-bottom: 1%;
  color: var(--color60);
  margin-top: 20%;
}

.body .contacto .colA {
  padding: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.body .contacto .colA .botonBanner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2%;
  padding: 5%;
}

.body .contacto .colA .botonBanner h4 {
  font-family: var(--font-Castoro);
  color: var(--color60);
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 0rem;
  margin-top: 2%;
}

.body .contacto .colA .botonBanner p {
  padding: 4%;
  text-align: justify;
}

.body .contacto .colA .botonBanner .contactoIcon {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1%;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 0.5rem;
}

.body .contacto .colA .botonBanner .contactoIcon .icon {
  width: 10%;
  opacity: 1;
}

.body .contacto .colA .botonBanner .contactoIcon .icon:hover {
  opacity: 1;
  scale: 1.2;
}

.body .contacto .colB {
  padding: 5%;
}

.body .contacto .colB form {
  background-color: var(--colorWhite);
  padding: 5%;
  border-radius: 1rem;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.body .contacto .colB label {
  display: block;
  margin-bottom: 1%;
}

.body .contacto .colB input,
.body .contacto .colB select,
.body .contacto .colB textarea {
  width: 100%;
  padding: 1%;
  margin-bottom: 1%;
  border: none;
  border-radius: 0.1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.body .contacto .colB textarea {
  resize: vertical;
}

.body .contacto .colB .btnContainer {
  border: 0.1rem solid var(--color10);
  width: 100%;
  padding: 1.5%;
  border-radius: 0.2em;
  opacity: 0.8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5%;
}

.body .contacto .colB .btnContainer .CTAbtn {
  font-size: 1em;
  letter-spacing: 0.1rem;
  border: none;
  border-radius: inherit;
  background-color: var(--color10);
  width: 100%;
  padding-top: 1%;
  padding-bottom: 1%;
  color: var(--colorWhite);
}

.body .contacto .colB .btnContainer .CTAbtn:hover {
  background-color: var(--color60);
}

.body .contacto .colB .btnContainer:hover {
  opacity: 1;
  border: 0.1rem solid var(--color60);
}

.body footer {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2%;
  background-color: var(--colorWhite);
}

.body footer nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body footer nav a {
  font-family: var(--font-Quicksand);
  color: var(--colorBlack);
  text-decoration: none;
  font-size: 0.8rem;
  width: 23%;
  text-align: left;
  font-weight: bold;
  opacity: 0.8;
}

.body footer nav .left {
  text-align: right;
}

.body footer nav .containerimagotipo {
  width: 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.body footer nav .containerimagotipo .imagotipo {
  width: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  opacity: 0.5;
}

.body footer p {
  color: var(--colorBlack);
  margin-top: 4%;
  font-size: 0.7rem;
  width: 100%;
  text-align: center;
  opacity: 0.5;
}

.body footer .cometa {
  margin-top: 5%;
}

.body footer .contactoIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin-top: 0%;
}

.body footer .contactoIcon .icon {
  width: 10%;
  opacity: 0.5;
}

/*
Apartamento Ático La Taberna
Vut Las Palomas
Vut La Taberna 1
Vut Sorpresa Suite La Taberna
Vut Lourdes
*/
/*# sourceMappingURL=style.css.map */